<ion-view view-title="Nuevo Aviso">
  <ion-content>
  	<form name="myForm" novalidate>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Titulo</span>
      <input type="text" name="titulo" placeholder="Titulo del aviso" ng-model="anuncios.titulo">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Descripcion</span>
      <textarea name="descripcion" placeholder="Detalles del aviso" ng-model="anuncios.descripcion"></textarea>
    </label>

    <label class="item item-input item-stacked-label ">
      <span class="input-label">Precio</span>
      <input type="number" name="precio" placeholder="Precio del inmueble" ng-model="anuncios.precio">
    </label>

  <div class="col">
    <button ng-click="doRegister()" class="item button button-full button-assertive ink">Crear Aviso</button>
  </div>

</form>
  </ion-content>
</ion-view>

<!--<div class="list">

  <label class="item item-input item-select">

    <div class="input-label">
      Barrio
    </div>
    <select>

      <option >Nva Cba</option>
      <option selected>Gral Paz</option>
      <option>Huemes</option>
    </select>
  </label>

</div>


<div class="list">

  <label class="item">

              <div class="input-label ">
              Tipo de Inmueble
              </div>

               <li class="item item-toggle">
                  Alquiler
                  <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
               </li>

               <li class="item item-toggle">
                  Venta
                  <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
               </li>
  </label>
</div>-->

